:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.todo {
  background: var(background-color);
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
}

.todo-app {
  width: 500px;
  height: fit-content;
  max-height: 90%;
  background: #535bf2;
  padding: 10px;
  margin-block: 60px;

  display: flex;
  flex-direction: column;
}

.todo-app h2 {
  text-align: center;
}

.todo-app .input {
  width: 100%;
  margin-block: 20px;

  display: flex;
}

.input input {
  flex: 1;

  padding: 10px;
  border: none;
  outline: none;
  font-size: 17px;
}

.input button {
  padding-inline: 15px;
}

.input-field {
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.1);
}

.tasks {
  flex-wrap: 1;
  overflow-y: scroll;
}

.tasks::-webkit-scrollbar {
  display: none;
}

.tasks p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-width: 600px;
}

.tasks p span {
  flex: 1;
  word-wrap: break-word;
  max-width: 500px;
  margin-right: 10px;
  text-transform: capitalize;
}

.tasks p img {
  cursor: pointer;
}

@media (max-width: 450px) {
  .todo-app {
    width: 90vw;
  }

  .input input {
    padding: 8px;
    border: none;
    outline: none;
    font-size: 17px;
  }

  .input button {
    padding-inline: 12px;
}
}